.header {
  height: 15vh;
  background-image: url('/frontend-mentor/job-listing-filtering/images/bg-header-desktop.svg');
  background-color: var(--desatured-dark-cyan);
  background-position: center center;
  background-size: cover;
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 85vw;
  margin: 48px auto;
}

@media screen and (max-width: 768px) {
  .header {
    background-image: url('/frontend-mentor/job-listing-filtering/images/bg-header-mobile.svg');
  }

  .jobs {
    gap: 60px;
  }
}
