.navbar {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__options {
  /* Takes the entire height of the flex parent*/
  align-self: stretch;

  /* Reset list layout */
  display: flex;
  gap: 32px;
  list-style: none;
}
