.section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 70vh;
  padding: 32px 16px;
}

.section--dark {
  background-color: var(--light-grayish-blue);
}

.section__title {
  color: var(--primary-dark-blue);
  font-size: var(--fs-xl);
  font-weight: 400;
  margin-block-end: 16px;
}

.section__paragraph {
  color: var(--neutral-grayish-blue);
  font-size: var(--fs-md);
  font-weight: 300;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 32px;
  margin-block: 64px;
}

@media screen and (max-width: 768px) {
  .section {
    text-align: center;
  }
}
