/* public-sans-300 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/public-sans-v14-latin-300.woff2') format('woff2'),
    url('/fonts/public-sans-v14-latin-300.woff') format('woff'),
    url('/fonts/public-sans-v14-latin-300.ttf') format('truetype');
}

/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/public-sans-v14-latin-regular.woff2') format('woff2'),
    url('/fonts/public-sans-v14-latin-regular.woff') format('woff'),
    url('/fonts/public-sans-v14-latin-regular.ttf') format('truetype');
}

/* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/public-sans-v14-latin-700.woff2') format('woff2'),
    url('/fonts/public-sans-v14-latin-700.woff') format('woff'),
    url('/fonts/public-sans-v14-latin-700.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);
  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 14%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);

  --fs-xsm: 0.8rem;
  --fs-sm: 1rem;
  --fs-md: 1.4rem;
  --fs-lg: 1.8rem;
  --fs-xl: 2.6rem;
  --fs-2xl: 3.6rem;
}

body {
  font-family: 'Public Sans', 'Sans serif';
  overflow-x: hidden; /* To hide the hero images overflow */
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 16px;
}

@media screen and (max-width: 768px) {
  :root {
    --fs-md: 1.2rem;
    --fs-xl: 2.4rem;
    --fs-lg: 1.6rem;
    --fs-2xl: 3.2rem;
  }
}
